@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 2.5rem;
  }

  .introducao p {
    font-size: 1.125rem;
  }

  .bicicletas-intro p {
    font-size: 1.125rem;
  }
  .bicicletas-intro h1 {
    font-size: 2.5rem;
  }

  .escolha h2 {
    font-size: 3rem;
  }

  .parceiros h2 {
    font-size: 3rem;
  }

  .tecnologia-conteudo > span {
    font-size: 1.125rem;
  }

  .tecnologia-conteudo h2 {
    font-size: 3rem;
  }

  .tecnologia-conteudo > p {
    font-size: 1.125rem;
  }

  .seguros h2 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  .introducao-conteudo {
    padding-bottom: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .bicicletas-intro h1 {
    font-size: 2rem;
  }

  .bicicletas-intro p {
    font-size: 1rem;
    text-transform: none;
  }

  .bicicletas-item {
    grid-template-columns: 1fr;
  }

  .bicicleta-lista > li > .bicicletas-item {
    background: none;
  }
  .bicicleta-lista > li:nth-child(even) {
    background: #111111;
  }

  .bicicletas-vantagens {display: grid; grid-template-columns: 1fr 1fr; gap: 16px; margin-bottom: 32px;}

  .bicicletas-vantagens li + li {
    margin-top: 0px;
  }

  .bicicleta-conteudo a {place-self: start;}

  .bicicleta-conteudo {grid-template-columns: 1fr;}
  .tecnologia-bg {
    box-shadow: none;
  }

  .tecnologia {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .tecnologia-conteudo {
    padding: 60px 0px;
  }

  .escolha h2 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .tecnologia .img > img {
    display: none;
  }

  .tecnologia-conteudo h2 {
    font-size: 2rem;
    max-width: 15ch;
  }
  .parceiros-lista {
    grid-template-columns: 1fr 1fr;
  }

  .parceiros-lista li {
    border: 0px;
  }

  .parceiros-lista li:nth-child(3),
  .parceiros-lista li:nth-child(4) {
    border-top: 2px solid #ededed;
  }
  .parceiros-lista li {
    border-left: solid 2px #ededed;
  }

  .parceiros-lista li:nth-child(odd) {
    border-left: 0px;
  }

  .depoimento {
    grid-template-columns: 1fr;
  }

  .depoimento img {
    max-height: 200px;
  }

  .depoimento-texto p {
    font-size: 1.5rem;
  }

  .depoimento-texto {
    align-items: center;
    background: none;
    padding: 40px 20px;
  }
  .depoimento p::before {
    left: 0px;
  }

  .seguros h2 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .seguros-bg {
    background: none;
    background-color: #111111;
  }
  .seguros .seguros-card {
    flex-direction: column;
  }

  .seguros-card h3 {
    font-size: 1.5rem;
  }

  .seguros-card .valor {
    font-size: 1.5rem;
  }

  .seguros-card > li {
    padding-left: 60px;
    box-sizing: border-box;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer > img {
    display: none;
  }

  .footer h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 600px) {
  .seguros a {
    padding: 12px 16px;
  }

  .footer {
    grid-template-columns: 1fr;
  }
  .bicicletas-vantagens li {font-size: 1rem;}

  .bicicleta-conteudo a {padding:  12px 16px;}
}


