.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffbb00;
}

.depoimento-texto {
  padding: 40px 40px 80px 80px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: url(/img/dec/top-left-p.svg) no-repeat top 40px left 40px,
    url(/img/dec/bottom-right.svg) no-repeat bottom 40px right 40px;
  overflow: hidden;
}

.depoimento blockquote {
  margin-top: auto;
}

.depoimento p {
  margin-bottom: 32px;
  font-family: merriweather;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.33;
  font-weight: 900;
  position: relative;
  z-index: 0;
  max-width: 32ch;
}

.depoimento p::before,
.depoimento p::after {
  color: #e4a30b;
  position: absolute;
  font-size: 5rem;
  z-index: -1;
}
.depoimento p::before {
  content: "“";
  left: -40px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
  bottom: -60px;
}

.depoimento span {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 600;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}
